@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
html {
  font-family: 'Space Mono', monospace;
}
.container {
  width: 100vw;
  height: 100vh;
}
main{
  width: 730px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}
header{
  width: 100%;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}
header h1{
  font-weight: 700;
  font-size: 26px;
}
.mode{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.mode img{
  width: 20px;
  height: 20px;
  margin-left: 16px;
}
.mode p {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2.5px;
}
.search-box{
  width: 100%;
  height: 69px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 24px;
}
.search-box img {
  width: 21px;
  height: 21px;
}
.search-box input {
  width: 50%;
  height: 100%;
  border: none;
  outline: none;
}
.no-result {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F74646;
  font-weight: 700;
  font-size: 15px;
}
::placeholder{
  font-weight: 400;
  font-size: 18px;
  color: #4B6A9B;
}
.search-box button {
  width: 106px;
  height: 50px;
  background-color: #0079FF;
  color:#FFFFFF;
  font-weight: 700;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.search-box button:hover {
  background-color: #60ABFF;
}
.result-box{
  width: 100%;
  height: 419px;
  border-radius: 15px;
  padding: 48px;
  display: flex;
  justify-content: space-between;
}
.avatar-box{
  width: 117px;
  height: 117px;
  border-radius: 50%;
}
.avatar-box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.info-box {
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.name-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name-box h2{
  font-weight: 700;
  font-size: 26px;
}
.name-box p{
  font-weight: 400;
  font-size: 15px;
}
.info-box span{
  font-weight: 400;
  font-size: 16px;
  color: #0079FF;
}
.info-box h6{
  font-weight: 400;
  font-size: 15px;
  opacity: 0.75;
}
.followers-box{
  width: 100%;
  height: 85px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.followers-box p {
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 4px;
}
.followers-box h5{
  font-weight: 700;
  font-size: 22px;
}
.link-box{
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.address-box, .twitter-box {
  display: flex;
  flex-direction: column;
  width: 40%;
  
}
.address-box div, .twitter-box div {
  display: flex;
  align-items: center; 
  margin-bottom: 15px;
}
.address-box div p, .twitter-box div p{
  margin-left: 15px;
  font-size: 15px;
}
