@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
html {
  font-family: 'Space Mono', monospace;
}
.container {
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}
main{
  max-width: 730px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}
header{
  width: 100%;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}
header h1{
  font-weight: 700;
  font-size: 26px;
}
.mode{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.mode img{
  width: 20px;
  height: 20px;
  margin-left: 16px;
}
.mode p {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2.5px;
}
.search-box{
  width: 100%;
  height: 69px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 24px;
}
.search-box img {
  width: 21px;
  height: 21px;
}
.search-box input {
  width: 50%;
  height: 100%;
  border: none;
  outline: none;
}
.no-result {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F74646;
  font-weight: 700;
  font-size: 15px;
}
::placeholder{
  font-weight: 400;
  font-size: 18px;
  color: #4B6A9B;
}
.search-box button {
  width: 106px;
  height: 50px;
  background-color: #0079FF;
  color:#FFFFFF;
  font-weight: 700;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.search-box button:hover {
  background-color: #60ABFF;
}
.result-box{
  width: 100%;
  min-height: 419px;
  border-radius: 15px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.avatar-box{
  width: 100%;
  height: 117px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatar-box img {
  width: 117px;
  height: 117px;
  border-radius: 50%;
}
.info-box {
  width: 480px;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.avatar-name-info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.name-box {
  width: 58%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.name-box h2{
  font-weight: 700;
  font-size: 26px;
}
.name-box p{
  font-weight: 400;
  font-size: 15px;
}
.name-box h5{
  font-weight: 400;
  font-size: 16px;
  color: #0079FF;
}
.info-box h6{
  font-weight: 400;
  font-size: 15px;
  opacity: 0.75;
}
.followers-box{
  width: 100%;
  height: 85px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.followers-box p {
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 4px;
}
.followers-box h5{
  font-weight: 700;
  font-size: 22px;
}
.link-box{
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.address-box, .twitter-box {
  display: flex;
  flex-direction: column;
  width: 40%;
  
}
.address-box div, .twitter-box div {
  display: flex;
  align-items: center; 
  margin-bottom: 15px;
}
.address-box div p, .twitter-box div p{
  margin-left: 15px;
  font-size: 15px;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

@media (max-width: 768px){
  main {
    max-width: 573px;
  }
  .result-box{
    padding: 40px;
  }
  .avatar-name-info{
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
  }
  .name-box{
    width: 80%;
  }
  .info-box{
    width: 100%;
    margin-top: 20px;
  }
}
@media (max-width: 375px){
  main {
    max-width: 327px;
  }
  .result-box{
    padding: 24px;
  }
  .name-box{
    width: 100%;
  }
  .avatar-box img{
    width: 70px;
    height: 70px;
  }
  .name-box h2{
    font-size: 16px;
  }
  .name-box p, .name-box h5, .info-box h6{
    font-size: 13px;
  }
  .followers-box p{
    font-size: 11px;
  }
  .followers-box h5{
    font-size: 22px;
  }
  .repos, .followers, .followings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .link-box{
    flex-direction: column;
  }
  .info-box h6, .followers-box{
    margin-bottom: 20px;
  }
  .address-box, .twitter-box{
    width: 100%;
  }
  .address-box div p, .twitter-box div p, .no-result{
    font-size: 13px;
  }
  .search-box button {
    width: 84px;
    height: 46px;
  }
  .search-box img{
    width: 17px;
    height: 17px;
  }
  ::placeholder {
    font-size: 13px;
  }

}